#nude {
    display: none;
    justify-content: center
}

body {
    font-family: Calibri;
    background-color:khaki;
}

h1 {
    font-size: 80px;
    text-align: center;
}
h2 {
    font-size: 35px;
    text-align: center;
    
}

#game-panel {
    display:flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.game-choice {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.hand-logo {
    height: 200px;
    width: auto;
}

#counter-panel {
    margin-top: 50px;;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.style-counter {
    font-size: 30px;
}

#result-show {
    margin-top: 80px;
    text-align: center;
}